<% provide(:title, 'Datapackage Resource') %>

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Datapackage Resource Metadata (click for details)
</button>
<div class="collapse" id="collapseExample">
  <div class="well">
    <h4>Resource Metadata</h4>
    <table class="table">
      <thead>
        <tr><th>Item</th><th>Value</th></tr>
      </thead>
      <tbody>
        <tr><td>ID</td>                   <td><%= @dpr.id %></td></tr>
        <tr><td>Description</td>          <td><%= @dpr.description %></td></tr>
        <tr><td>Datapackage ID</td>       <td><%= @dpr.datapackage_id %></td></tr>
        <tr><td>Path</td>                 <td><%= @dpr.path %></td></tr>
        <tr><td>Format</td>               <td><%= @dpr.format %></td></tr>
        <tr><td>Delimitir</td>            <td><%= @dpr.delimiter %></td></tr>
        <tr><td>Mediatype</td>            <td><%= @dpr.mediatype %></td></tr>
        <tr><td>Created Datetime</td>     <td><%= @dpr.created_at %></td></tr>
        <tr><td>Quote Character</td>      <td><%= @dpr.quote_character %></td></tr>
        <tr><td>Table Reference</td>      <td><%= @dpr.table_ref %></td></tr>
        <tr><td>Database Table Name</td>  <td><%= @dpr.db_table_name %></td></tr>
      </tbody>
    </table>
  </div>
</div>


<!-- <div class="row">
  <div class="col-md-8"> -->
    <h4>Datasources (files uploaded)</h4>
    <table class="table">
      <thead>
        <tr><th>ID</th><th>File Name</th><th>Uploaded Date</th><th></th></tr>
      </thead>
      <tbody>
        <% @dpr_ds.each do |ds| %>
          <tr>
            <td><%= ds.id %></td>
            <td><%= ds.datafile_file_name %></td>
            <td><%= ds.created_at %></td>
            <td><%= link_to "delete", [@project,ds], method: :delete,
                            data: { confirm: "Are you sure? This will delete any associated observations from the database." }, :class => "btn btn-xs btn-danger" %></td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <!-- </div> -->


<!-- </div> -->
