<% provide(:title, 'Datapackage Resource') %>

<%= link_to "Back to project overview", project_path(@project)%>
<br /><br />

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Datapackage Resource Metadata (click for details)
</button>


<div id="mira-jtable">


</div>



<div class="collapse" id="collapseExample">
  <div class="well">
    <h4>Resource Metadata</h4>
    <table class="table">
      <thead>
        <tr><th>Item</th><th>Value</th></tr>
      </thead>
      <tbody>
        <tr><td>ID</td>                   <td><%= @dpr.id %></td></tr>
        <tr><td>Description</td>          <td><%= @dpr.description %></td></tr>
        <tr><td>Datapackage ID</td>       <td><%= @dpr.datapackage_id %></td></tr>
        <tr><td>Path</td>                 <td><%= @dpr.path %></td></tr>
        <tr><td>Format</td>               <td><%= @dpr.format %></td></tr>
        <tr><td>Delimitir</td>            <td><%= @dpr.delimiter %></td></tr>
        <tr><td>Mediatype</td>            <td><%= @dpr.mediatype %></td></tr>
        <tr><td>Created Datetime</td>     <td><%= @dpr.created_at %></td></tr>
        <tr><td>Quote Character</td>      <td><%= @dpr.quote_character %></td></tr>
        <tr><td>Table Reference</td>      <td><%= @dpr.table_ref %></td></tr>
        <tr><td>Database Table Name</td>  <td><%= @dpr.db_table_name %></td></tr>
      </tbody>
    </table>
  </div>
</div>


<!-- <div class="row">
  <div class="col-md-8"> -->
    <h4>Datasources (files uploaded)</h4>
    <%= paginate @rows %>
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Actions</th>
          <th>id</th>
          <% @fields.each do |field| %>
            <th><%= field.name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @rows.each do |row| %>
          <tr>
            <td>
              <a class="btn btn-mini" href="#">Edit</a>
              <a class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" href="#" rel="nofollow">Delete</a>
            </td>
            <td><%= row.id %></td>
            <% @fields.each do |field| %>
              <td><%= row["#{field.name}"] %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @rows %>


    <% provide(:custom_endofpage) do %>

      <%#= javascript_include_tag "/vendor/jtable.2.4.0/jquery/jtable.min.js" %>
      <script>
      $(document).ready(function () {

        var tableUrl = '<%= @tableUrl %>';
        var authToken = document.querySelector('meta[name="csrf-token"]').content

        $('#mira-jtable').jtable({
            title: '<%= @dpr.table_ref %>',
            actions: {
                // listAction: tableUrl + 'jtable/list', //miraListData(postData, jtParams)
                // listAction: miraListAction(postData, jtParams),
                listAction:   function(postData,jsParams) { return miraListAction(postData, jsParams) },
                createAction: function(postData) { return miraCreateAction(postData) },
                updateAction: function(postData) { return miraUpdateAction(postData) },
                deleteAction: function (postData) {
                  return $.Deferred(function ($dfd) {
                              $.ajax({
                                  url: tableUrl + 'data' + '/' + postData["id"],
                                  type: 'DELETE',
                                  beforeSend: function (request) {
                                    request.setRequestHeader('X-CSRF-Token', authToken);
                                  },
                                  dataType: 'json',
                                  success: function (miraData) {
                                    jtableData = {
                                      "Result":"OK",
                                    };
                                    $dfd.resolve(jtableData);
                                  },
                                  error: function () {
                                      $dfd.reject();
                                  }
                              });
                          });
                      }

            },
            fields: {
                id: {
                    key: true,
                    list: true
                }
                <% @fields.each do |field| %>
                  ,<%= field.name %>: {
                    title: '<%= field.name %>'
                  }
                <% end %>
            }
        });

        $('#mira-jtable').jtable('load');



        function miraPostData(postData) {
          miraPD = {};
          postData.split("&").forEach(function(item) {
            miraPD[item.split("=")[0]] = item.split("=")[1]
          });
          return miraPD;
        }


        
        function miraListAction(postData, jtParams) {
            var miraQuery = '?';
            if (jtParams.jtStartIndex != undefined) {
              miraQuery += 'page=' + jtStartIndex.toString();
            }
            if (jtParams.jtPageSize != undefined) {
              miraQuery += '&per_page=' + jtParams.jtPageSize.toString();
            }

            return $.Deferred(function ($dfd) {
                     $.ajax({
                       url: tableUrl + 'data' + miraQuery,  /* refactor */
                       type: 'GET',
                       dataType: 'json',
                       data: postData,
                       success: function (miraData, textStatus, request) {
                         var jtableData = {
                           'Result': 'OK',
                           'Records': miraData["data"],
                           'TotalRecordCout': request.getResponseHeader('records-total')
                         };

                         $dfd.resolve(jtableData);
                        },
                        error: function () {
                          $dfd.reject();
                        }
                      });
                   });
            }



            function miraCreateAction(postData){
              return $.Deferred(function ($dfd) {
                       $.ajax({
                         url: tableUrl + 'data', /* refactor */
                         type: 'POST',
                         dataType: 'json',
                         data: { "data": miraPostData(postData) },
                         success: function (miraData) {
                          //  debugger;
                           jtableData = {
                            "Result":"OK",
                            "Record": miraData
                           }
                           $dfd.resolve(jtableData);
                         },
                         error: function () {
                           $dfd.reject();
                         }
                       });
                   });
            }



            function miraUpdateAction(postData) {
              var postDataObj = miraPostData(postData);
              return $.Deferred(function ($dfd) {
                        $.ajax({
                          url: tableUrl + 'data' + '/' + postDataObj["id"],
                          type: 'PATCH',
                          dataType: 'json',
                            data: { "data": miraPostData(postData) },
                            success: function (miraData) {
                              jtableData = {
                                "Result":"OK",
                                "Record": miraData
                              };
                              $dfd.resolve(jtableData);
                            },
                            error: function () {
                              $dfd.reject();
                            }
                        });
                      });
            }




          });
      </script>
    <% end %>
  <!-- </div> -->


<!-- </div> -->
