<div class="row pull-left">
  <div class="col-md-9 col-md-offset-2">

    <%= form_for(@project, url: {action: "upload_datasources"} , method: "post", :html => { multipart: true }) do |f| %>

      <div class="control-group col-md-9">
        <%= f.label :csv_files, "CSV files", :class => 'control-label' %>
        <div class="controls">
        <%= file_field_tag "datafiles[]", type: :file, multiple: true %>
        </div>
      </div>

      <div class="form-actions col-md-6">
        <div class="btn-toolbar">
          <div class="btn-group">
            <%= f.submit "Quick Upload", :class => 'btn btn-primary', id: 'submit_files', name: 'quick-csv-upload' %>
          </div>
          <div class="btn-group">
            <%= f.submit "Slow Upload", :class => 'btn btn-primary', id: 'submit_files', name: 'slow-csv-upload' %>
          </div>
          <strong><big>&nbsp*</big></strong>
        </div>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    projects_path, :class => 'btn btn-mini' %>
      </div>

    <% end %>

    <div class="col-md-9">
      <p>
      <strong><big>&nbsp*&nbsp</big></strong>The "quick upload" bypasses ActiveRecord table models, using instead an ActiveRecord
      raw connection. This is much faster than the "slow upload" but is more prone to failure. For example it will fail if you
      have a date column with an empty value, or if you have a date column with BC dates represented as negative dates
      (e.g. "-0050-10-10" instead of "0050-10-10 BC"). If the quick upload fails, then delete and try the slow upload.
      </p>
    </div>

  </div>
</div>
