<div class="row">
  <div class="col-md-6 col-md-offset-3">


      <%= form_for(@project, url: {action: "upload_datasources"} , method: "post", :html => { multipart: true }) do |f| %>

      <div class="control-group">
        <%= f.label :csv_files, "CSV files", :class => 'control-label' %>
        <div class="controls">
        <%= file_field_tag "datafiles[]", type: :file, multiple: true %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.submit "Upload csv files", :class => 'btn btn-primary', id: 'submit_files' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    projects_path, :class => 'btn btn-mini' %>
      </div>

    <% end %>

  </div>
</div>
