
<h3>Project Details</h3>

<%= render "projects/partials/api_detail_project_details" %>

<%= render "projects/partials/api_detail_endpoints" %>

<%= render "projects/partials/api_detail_distinct_values" %>

<%= render "projects/partials/api_detail_querying" %>

<%= render "projects/partials/api_detail_select" %>

<%= render "projects/partials/api_detail_ordering" %>

<%= render "projects/partials/api_detail_paging" %>

<%= render "projects/partials/api_detail_datatables_info" %>
