<% provide(:title, 'Projects') %>
<h2>Projects</h2>

<% if user_signed_in? %>
  <%= link_to "New project", new_project_path, :class => "btn btn-primary" %>
  <br /><br />
<% end %>
<%= paginate @projects %>
<table class="table">
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th> </th>
  </thead>
  <% @projects.each do |proj| %>  
    <tr>
      <td><%= proj.id %></td>
      <td><a href="/projects/<%= proj.id %>/api-details"><%= proj.name %></a></td>
      <td><%= proj.description %></td>
      <td><%= link_to "Uploads", proj %></td>
      <% if user_signed_in? %>
        <td><%= link_to "Edit Project", edit_project_path(proj), :class => "btn btn-xs btn-info" %></td>
        <td><%= link_to "delete", proj, method: :delete,
                        data: { confirm: "You sure?" }, :class => "btn btn-xs btn-danger" %></td>      
      <%end %>
    </tr>
  <% end %>  
</table>
<%= paginate @projects %>
