<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Project Overview</h3>
  </div>

  <%= render 'error_messages' %>

  <div class="panel-body">

    <%= render 'projects/partials/project_details' %><br />

    <div class="col-md-12">


      <% if not @datapackages.empty? %>
        <table class="table">
          <tr>
            <th>Datapackage</th>
            <th>Created</th>
            <% if user_signed_in? %>
              <th>Process Log</th>
            <% end %>
          </tr>
          <% @datapackages.each do |dp| %>
            <tr>
              <td><%= link_to dp.datafile_file_name, dp.datafile.url %></td>
              <th><%= dp.created_at.strftime("%FT%R") %></td>
              <% if user_signed_in? %>
                <td><a href="/job_logs/project_<%= dp.project_id %>/<%= dp.datafile_file_name %>.log"><%= dp.datafile_file_name %>.log</a></td>
              <% end %>
            </tr>
          <% end %>
        </table>
      <% else %>
        <p>A datapackage.json file has not been successfully uploaded and processed</p>
      <% end %>


      <br />
      <% if not @datasources.empty? %>
        <table class="table">
          <tr>
            <th>Data source</th>
            <th>Created</th>
            <% if user_signed_in? %>
              <th>Process Log</th>
            <% end %>
          </tr>

          <% @datasources.each do |ds| %>
            <tr>
              <td><%= link_to ds.datafile_file_name, ds.datafile.url %></td>
              <th><%= ds.created_at.strftime("%FT%R") %></td>
              <% if user_signed_in? %>
                <td><a href="/job_logs/project_<%= ds.project_id %>/<%= ds.datafile_file_name %>.log"><%= ds.datafile_file_name %>.log</a></td>
                <th><%= link_to "delete", project_datasource_path(ds.project_id, ds.id), method: :delete,
                                data: { confirm: "You sure?" }, :class => "btn btn-xs btn-danger" %></th>
              <% end %>
            </tr>
          <% end %>
        </table>
      <% else %>
        <p>No csv files have been uploaded</p>
      <% end %>


      <% if user_signed_in? %>
        <% if not @log_file_names.empty? %>
          <p>All log files</p>
          <ul>
            <% @log_file_names.each do |lf| %>
              <li><a href="<%= root_url %>job_logs/project_<%= @project.id %>/<%= lf %>"><%= lf %></a>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<% if user_signed_in? %>
  <%= render :partial => 'upload_project_files' %>
<% end %>
