<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Project Overview</h3>
  </div>

  <%= render 'error_messages' %>

  <div class="panel-body">

    <%= render 'projects/partials/project_details' %><br />

    <div class="col-md-12">


      <% if @datapackage.present? %>
        <table class="table">
          <tr>
            <th>Datapackage</th>
            <th>Created</th>
          </tr>
          <tr>
            <td><%= link_to @datapackage.datapackage_file_name, @datapackage.datapackage.url %></td>
            <th><%= @datapackage.created_at.strftime("%FT%R") %></td>
          </tr>
        </table>


        <table class="table">
          <tr>
            <th>Datasources listed <br />in datapackage.json</th>
            <th>Upload<br />Datetime</th>
            <th>Upload Log</th>
            <th>Import<br />Status</th>
            <th> </th>
          </tr>
          <% @datapackage.datapackage_resources.each do |res| %>
            <tr>
              <% if res.datasource_id.present? %>
                <td><%= link_to @datasources.find(res.datasource_id).datafile_file_name, @datasources.find(res.datasource_id).datafile.url %></td>
                <td><%= @datasources.find(res.datasource_id).created_at.strftime("%FT%R") %></td>
                <td><a href="/job_logs/project_<%= @datasources.find(res.datasource_id).project_id %>/<%= @datasources.find(res.datasource_id).datafile_file_name %>.log"><%= @datasources.find(res.datasource_id).datafile_file_name %>.log</a></td>
                <td><%= @datasources.find(res.datasource_id).import_status %></td>
                <td><%= link_to "delete", project_datasource_path(@datasources.find(res.datasource_id).project_id, @datasources.find(res.datasource_id).id), method: :delete,
                                                data: { confirm: "You sure?" }, :class => "btn btn-xs btn-danger" %></td>
              <% else %>
                <td><%= res.path %></td>
                <td>-- Not uploaded yet --</td>
                <td> </td>
                <td> </td>
              <% end %>
            </tr>
            <% end %>
        </table>


      <% else %>
        <p>A datapackage.json file has not yet been uploaded and processed.</p>
      <% end %>



    </div>
  </div>
</div>

<% if user_signed_in? %>
  <% if !@datapackage %>
    <%= render :partial => 'upload_datapackage' %>
  <% else %>
    <%= render :partial => 'upload_datasources' %>
  <% end %>
<% end %>
