<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Project Overview</h2>
  </div>

  <%= render 'error_messages' %>

  <div class="panel-body">

    <div class="col-md-6">
      <%= render 'projects/partials/project_details' %><br />
    </div>

    <div class="col-md-12">


      <% if @datapackage.present? %>

        <table class="table">
          <tr>
            <!-- Datasources table HEADER -->
            <th>Datasources<br />(as per datapackage.json)</th>
            <!-- <th>Upload<br />Datetime</th> -->
            <% if user_signed_in? %>
              <th>Database Table</th>
              <th>Number<br />of Rows</th>
              <th>Browse/<br />update data</th>
            <% end %>

            <!-- One row per datapackage resource -->
            <% @datapackage.datapackage_resources.sort_by { |obj| obj.table_ref }.each do |res| %>
              <tr>

                <!-- Datasource -->
                <td>
                  <%= res.path %>
                </td>

                <% if user_signed_in? %>
                  <!-- ActiveRecord class name -->
                  <td><%= res.db_table_name %></td>

                  <td><%= get_mira_ar_table(res.db_table_name.capitalize).count %></td>

                  <td>
                    <%= link_to project_datapackage_datapackage_resource_path(@project,res) do %>
                      <span class="glyphicon glyphicon-th" title="Browse/update data"></span>
                    <% end %>
                  </td>

                  <td>
                    <% num_uploads=Datasource.where(datapackage_resource_id: res.id).count %>
                    <% if num_uploads == 0 %>
                      0 files uploaded
                    <% else %>
                      <%= link_to "#{num_uploads} files uploaded", project_datapackage_datapackage_resource_path(@project,res) %></td>
                    <% end %>
                  </td>
                <% end %>

              </tr>
            <% end %>
          </tr>
        </table>




      <% else %>
        <p>A datapackage.json file has not yet been uploaded and processed.</p>
      <% end %>



    </div>
  </div>
</div>

<% if user_signed_in? %>
  <% if !@datapackage %>
    <%= render :partial => 'upload_datapackage' %>
  <% else %>
    <%= render :partial => 'upload_datasources' %>
  <% end %>
<% end %>
